%h2 Newsfeed

= render "newsfeed/post_form"

= paginate @posts, remote: true

#posts-container
- @posts.each do |post|
  .post
    =image_tag post.user.avatar.url(:lg), { class: "avatar-med img-circle", srcset: "#{post.user.avatar.url(:"lg")} 2x" }
    %h4= post.user.name
    .body= post.text

%a#more-posts= t('links.load_more_posts')
