- title t('page_titles.manage_adobe_products')

%h2= t('headers.manage_adobe_products')

= paginate @adobe_products

= link_to t("links.dashboard.manage_adobe_products.add"), new_admin_adobe_product_path, { :class => "small button"}
%table{ :"data-delete-confirm" => "#{@delete_confirm}" }
  %thead
    %tr
      %th Name
      %th Mnemonic
      %th{:colspan => "2"} Manage
  %tbody
    - @adobe_products.each do |ap|
      %tr
        %td= link_to ap.name, edit_admin_adobe_product_path(ap)
        %td= link_to(image_tag(ap.mnemonic.url(:sm)), edit_admin_adobe_product_path(ap))
        %td= link_to t("links.edit"), edit_admin_adobe_product_path(ap)
        %td= link_to t("links.delete"), "#", { class: "delete-row", :"data-path" => "/admin/adobe_products/#{ap.id}", :"data-id" => "#{ap.id}", remote: true }
