- title t('page_titles.manage_programs')

%h2= t('headers.manage_programs')

= paginate @programs

= link_to t("links.dashboard.manage_programs.add"), new_dashboard_admin_program_path, { :class => "small button"}
%table{ :"data-delete-confirm" => "#{@delete_confirm}" }
  %thead
    %tr
      %th Name
      %th # of Users
      %th Program Managers
      %th{:colspan => "2"} Manage
  %tbody
    - @programs.each do |p|
      %tr
        %td= link_to p.name, dashboard_admin_program_path(p)
        %td= link_to p.users.length, dashboard_program_users_path(p)
        %td= link_to p.program_managers.length, dashboard_program_managers_path(p)
        %td= link_to t("links.edit"), edit_dashboard_admin_program_path(p)
        %td= link_to t("links.delete"), "#", { class: "delete-row", :"data-path" => "/dashboard/admin/programs/#{p.id}", :"data-id" => "#{p.id}", remote: true }
