- title t('page_titles.admin_links_index')

.rightwrapper
  %h2= t('page_titles.admin_links_index')

  - if @link_types.empty?
    %p
      There are currently no active links being used in this program.

  - @link_types.each do |lt|
    %table
      %thead
        %tr
          %th{ colspan: "3"}
            %p= lt.name
      %tbody
        - lt.links.each do |l|
          %tr
            %td
              %p
                = link_to "#{l.user.name}", user_path(l.user.id)
            %td{ overflow: "hidden"}
              %p
                = l.tag_url
            %td
              %p
                %a{ href: "#", :"data-remote" => "true" }
                  Delete

