- title t('page_titles.new_link')

.rightwrapper
  %h2= t('page_titles.new_link')

  = simple_form_for([:admin, @link]) do |f|
    = f.input :name
    = f.input :url
    = f.button :button, class: "btn btn-primary submit"
    = f.button :button, 'Cancel', :type => 'reset', :class => 'btn cancel'
