- title t('page_titles.new_link')

.rightwrapper
  %h2= t('page_titles.new_link')

  = simple_form_for([:admin, @link]) do |f|
    = f.association :link_types, as: :collection_select, collection: @link_types,
      input_html: { class: 'chzn-select', :"data-placeholder" => t("select.choose") }
    = f.input :tag_identifier
    = f.input :tag_url
    = f.input :user_id, collection: @students,
      input_html: { class: 'chzn-select', :"data-placeholder" => t("select.choose") }
    .ui-wrap.vis
      = f.button :button, class: "btn btn-primary submit"
      = f.button :button, 'Cancel', :type => 'reset', :class => 'btn cancel'

.rightwrapper#link-types
  %h2= t('page_titles.new_link_type')

  = simple_form_for([:admin, @link_type ]) do |f|
    = f.input :name
    = f.input :call_to_action
    .ui-wrap.vis
      = f.button :button, class: "btn btn-primary submit"
      = f.button :button, 'Cancel', :type => 'reset', :class => 'btn cancel'

.rightwrapper
  %h2= t('page_titles.manage_link_types')
  = simple_form_for([:admin, @link_type], html: { id: "delete_link_type", method: :delete } ) do |f|
    = f.input :id, as: :radio_buttons, collection: @link_types, label: false
    .ui-wrap.vis
      = f.button :button, t("helpers.submit.link_type.delete"), class: "btn submit"
      = f.button :button, t("helpers.submit.link_type.edit"), class: "btn edit", :"data-remote" => "true"
      = f.button :button, 'Cancel', :type => 'reset', :class => 'btn cancel'


  #update-link-type
    = simple_form_for([:admin, @link_type ], url: "/admin/link_types/", method: :patch, html: { id: "update_link_type" }) do |f|
      = f.input :name, input_html: { id: "update_name" }
      = f.input :call_to_action, input_html: {id: "update_call_to_action"}
      .ui-wrap.vis
        = f.button :button, t("helpers.submit.link_type.update"), class: "btn btn-primary edit"
