- title t('page_titles.new_link')

.rightwrapper
  %h2= t('page_titles.new_link')

  = simple_form_for([:admin, @link]) do |f|
    = f.association :link_types, as: :collection_select, collection: @link_types,
      input_html: { class: 'chzn-select', :"data-placeholder" => t("select.choose") }
    = f.input :tag_identifier
    = f.input :tag_url
    = f.input :user_id, collection: @students,
      input_html: { class: 'chzn-select', :"data-placeholder" => t("select.choose") }
    .ui-wrap.vis
      = f.button :button, class: "btn btn-primary submit"
      = f.button :button, 'Cancel', :type => 'reset', :class => 'btn cancel'

.rightwrapper
  %h2= t('page_titles.new_link_type')

  = simple_form_for([:admin, @link_type ]) do |f|
    = f.input :name
    .ui-wrap.vis
      = f.button :button, class: "btn btn-primary submit"
      = f.button :button, 'Cancel', :type => 'reset', :class => 'btn cancel'

.rightwrapper
  %h2= t('page_titles.delete_link_type')
  = simple_form_for([:admin, @link_type], html: { id: "delete_link_type", method: :delete } ) do |f|
    = f.input :name, as: :check_boxes, collection: @link_types, label: false
    .ui-wrap.vis
      = f.button :button, class: "btn btn-primary submit"
      = f.button :button, 'Cancel', :type => 'reset', :class => 'btn cancel'


