%footer
  %ul
    %li= link_to "Help", "#"
    %li= link_to "Terms of Use", "#"
    %li= link_to "Privacy Policy and Cookies", "#"
    %li= link_to "Language: English", "#"
  %p.copyright= "©#{Time.now.year} Adobe Systems Incorporated. All Rights Reserved."
