%header
  .headerwrapper
    .leftheader
      = link_to t('nav.home'), "http://www.adobe.com", { class: "logo" }
      %p.program-title
        = link_to "#{APP_CONFIG['name']}", root_path
  
    .rightheader
      = link_to dashboard_path, class: "dashboard" do
        %span.icon.icon-dashboard
        %span.label
          = t('page_titles.dashboard')

      = link_to newsfeed_path, class: "newsfeed" do
        %span.icon.icon-newsfeed
        %span.label
          = t('page_titles.newsfeed')

      %a.menu
        %span.icon.icon-menu

-#%li  
  -#= link_to members_path, class: "members" do
    -#%span.icon.icon-attendees
      -#= t('page_titles.members')

-#%li.mobile-share
  -#%a
    -#%span.icon.icon-share
      -#= t('page_titles.share_link')
-#%li
  -#= link_to profile_path, class: "my-profile" do
    -#%span.icon.icon-profile
      -#= t('page_titles.my_profile')


%nav
  .width-limiter
    .navwrapper
      %ul
        %li
          = link_to members_path, class: "members" do
            %span.icon.icon-attendees
            \ Members
        %li.mobile-share
          %a
            %span.icon.icon-share
            \ Share a Link
        %li
          = link_to profile_path, class: "my-profile" do
            %span.icon.icon-profile
            \ My Profile

        - if user_signed_in?
          %li
            = link_to destroy_user_session_path, :method => :delete do
              %span.icon.icon-logout
              = t('nav.logout')
