%header
  .headerwrapper
    .leftheader
      = link_to t('nav.home'), "http://www.adobe.com", { class: "logo" }
      %p.program-title
        = link_to "#{APP_CONFIG['name']}", root_path
  
    .rightheader
      = link_to dashboard_path, class: "dashboard" do
        %span.icon.icon-dashboard
        %span.label
          = t('nav.dashboard')

      = link_to newsfeed_path, class: "newsfeed" do
        %span.icon.icon-newsfeed
        %span.label
          = t('nav.newsfeed')

      %a.menu
        %span.icon.icon-menu

%nav
  .width-limiter
    .navwrapper
      %ul
        %li
          = link_to members_path, class: "members" do
            %span.icon.icon-attendees
            = t('nav.members')
        - unless @user.nil? || @user.program.nil? || @user.program.links.empty?
          %li.mobile-share
            = link_to '#' do
              %span.icon.icon-share
              = t('nav.share_link')

            = render partial: "shared/links"

        %li
          = link_to profile_path, class: "my-profile" do
            %span.icon.icon-profile
            = t('nav.my_profile')
        %li
          = link_to notifications_path, class: "notifications" do
            %span.icon.icon-notifications
            = t('nav.notifications')

        - if user_signed_in?
          %li
            = link_to destroy_user_session_path, :method => :delete do
              %span.icon.icon-logout
              = t('nav.logout')
