-#
  - if user_signed_in?
    - if current_user.programs.length > 1
      = simple_form_for [:dashboard, :admin, current_user], 
        url: "/dashboard/admin/users/#{current_user.id}/current-program/#{@program.id}", method: :put do |f|
        = f.input :current_program_id, collection: current_user.programs, label: false, input_html: { class: 'chzn-select', 
          :"data-placeholder" => t("select.choose") }
    - else
      = link_to current_user.program.name, root_path, { class: "program-title"}
  - else
    =link_to t('nav.login'), new_user_session_path

  - if user_signed_in?
    / .rightheader
    = link_to "Dashboard", dashboard_path
    = link_to "Newsfeed", newsfeed_path
    = link_to "Menu", "#"
    .hidden-menu
      = link_to t('nav.logout'), destroy_user_session_path, :method => :delete
      = link_to 'My Profile', profile_path

%header
  .headerwrapper
    .leftheader
      = link_to t('nav.home'), "http://www.adobe.com", { class: "logo" }
      %p.program-title
        = link_to "#{APP_CONFIG['name']}", root_path

        -#- if user_signed_in?
          -#- if current_user.programs.length > 1
            -#= simple_form_for [:dashboard, :admin, current_user], 
              -#url: "/dashboard/admin/users/#{current_user.id}/current-program/#{@program.id}", method: :put do |f|
              -#= f.input :current_program_id, collection: current_user.programs, label: false, input_html: { class: 'chzn-select', 
                -#:"data-placeholder" => t("select.choose") }
          -#- else
            -#= link_to current_user.program.name, root_path
  
    .rightheader
      = link_to dashboard_path, class: "dashboard active" do
        %span.icon.icon-dashboard
        %span.label
          \ Dashboard

      = link_to newsfeed_path, class: "newsfeed" do
        %span.icon.icon-newsfeed
        %span.label
          \ Newsfeed

      %a.menu
        %span.icon.icon-menu

%nav
  .width-limiter
    .navwrapper
      %ul
        %li
          = link_to members_path do
            %span.icon.icon-attendees
            \ Members
        %li
          %a.active
            %span.icon.icon-share
            \ Share a Link
        %li
          = link_to profile_path do
            %span.icon.icon-profile
            \ My Profile

        - if user_signed_in?
          %li
            = link_to destroy_user_session_path, :method => :delete do
              %span.icon.icon-logout
              = t('nav.logout')
