.leftwrapper
  
  .student-info
  
    .student-info-primary
      .student-image.img-circle
        %img{:alt => "#{@user.name}", :src => "#{@user.avatar.url(:lg)}", :srcset => "#{@user.avatar.url(:lg2x)} 2x"}/
      %p
        %span.student-name
          = @user.name
        %span.student-school-name{ class: @user.school.nil? ? "adobe" : "student-school-name"  }
          %span.icon.icon-pin
          %span.university-name
            = @user.school.nil? ? "Adobe" : @user.school.name
        - if current_user == @user
          %a.edit-profile{ href: "/admin/users/#{@user.id}/edit" }
            Edit Profile
          
      
    .student-info-secondary
      .student-bio.html
        %p
          != @user.bio
      %p.student-portfolio-link
        - if @user.user_application.portfolio_url
          = link_to @user.user_application.portfolio_url, @user.user_application.portfolio_url
      %p.bio-links
        - if @user.uid
          = link_to "http://www.facebook.com/#{@user.uid}" do
            %span.icon.icon-fb
        - if @user.user_application.twitter_username
          = link_to "http://www.twitter.com/#{@user.user_application.twitter_username}" do
            %span.icon.icon-twitter
        - if @user.user_application.instagram_username
          = link_to "http://www.instagram.com/#{@user.user_application.instagram_username}" do
            %span.icon.icon-instagram
        - if @user.user_application.behance_profile_url
          = link_to "http://www.behance.net/#{@user.user_application.behance_profile_url}" do
            %span.icon.icon-behance
        = mail_to @user.email do
          %span.icon.icon-mail
      %h2.student-points
        %span.total= @user.points || "0"
        %span.pts pts

.leftwrapper
  
  .leaderboard
  
    .contentheader
      %h2 Leaderboard
      %p Who's in the lead? Who is making moves? Check both individual and school rankings.
  
    .leaderboard-toggle
  
      %ul.btn-segmented
        %li.active
          %a.btn.btn-small.student{"data-toggle" => "tab", :href => ".leaderboard-student"} Student Rep
        %li
          %a.btn.btn-small.school{"data-toggle" => "tab", :href => ".leaderboard-school"} School
  
    .tab-content
    
      / student list
      %ul.leaderbaord-list.leaderboard-student.tab-pane.active
        %li 
        
          %span.student-rank  1
          %span.student-name  Vince Ready
          %span.student-score 8,888,888
        %li
          %span.student-rank  2
          %span.student-name  Nina Brentlinger
          %span.student-score 5,124
        %li
          %span.student-rank  3
          %span.student-name  Dylan Smith
          %span.student-score 4,835
        %li
          %span.student-rank  4
          %span.student-name  Leona Guidance
          %span.student-score 4,562
        %li
          %span.student-rank  5
          %span.student-name  Mark Rawlins
          %span.student-score 4,249
        %li
          %span.student-rank  6
          %span.student-name  Kate Bingaman-Burt
          %span.student-score 3,126
        %li
          %span.student-rank  7
          %span.student-name  Parturient Ultricies Egestas
          %span.student-score 2,639
        %li
          %span.student-rank  8
          %span.student-name  Leona Guidance
          %span.student-score 2,547
        %li
          %span.student-rank  9
          %span.student-name  Vince Ready
          %span.student-score 2,478
        %li
          %span.student-rank  10
          %span.student-name  Nina Brentlinger
          %span.student-score 2,246
      
      / school list
      %ul.leaderbaord-list.leaderboard-school.tab-pane
        %li 
          %span.student-rank  1
          %span.student-name  University of Idaho
          %span.student-score 8,888,888
        %li
          %span.student-rank  2
          %span.student-name  Baruch College, City University of New York
          %span.student-score 5,124
        %li
          %span.student-rank  3
          %span.student-name  California State University - Monterey Bay
          %span.student-score 4,835
        %li
          %span.student-rank  4
          %span.student-name  Butler University
          %span.student-score 4,562
        %li
          %span.student-rank  5
          %span.student-name  Ithaca College
          %span.student-score 4,249
        %li
          %span.student-rank  6
          %span.student-name  United States Merchant Marine Academy
          %span.student-score 3,126
        %li
          %span.student-rank  7
          %span.student-name  Rutgers, the State University of New Jersey--New Brunswick
          %span.student-score 2,639
        %li
          %span.student-rank  8
          %span.student-name  Northeastern University 
          %span.student-score 2,547
        %li
          %span.student-rank  9
          %span.student-name  Middle Tennessee State University
          %span.student-score 2,478
        %li
          %span.student-rank  10
          %span.student-name  Boise State University
          %span.student-score 2,246


.leftwrapper

  .share-a-link

    .contentheader
      %h2 Share a link
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      
      - if current_user.admin?
        = link_to "Compose New Link", new_admin_link_path, { class: "btn btn-full-width btn-primary" }
      - else
        = render partial: "shared/links"


.leftwrapper
  
  .workshops-and-activity
  
    .contentheader
      %h2 Workshops & Activity
      %p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    
    %a.btn.btn-primary.btn-full-width{:href => "#"} Plan a Workshop
    %a.btn.btn-primary.btn-full-width{:href => "#"} Submit a Workshop Report
    %a.btn.btn-primary.btn-full-width{:href => "#"} Submit a Weekly Report

