= link_to t('nav.home'), root_path
- if user_signed_in?
  - if current_user.programs.length > 1
    = simple_form_for [:dashboard, :admin, current_user], 
      url: "/dashboard/admin/users/#{current_user.id}/current-program/#{@program.id}", method: :put do |f|
      = f.input :current_program_id, collection: current_user.programs, input_html: { class: 'chzn-select', 
        :"data-placeholder" => t("select.choose") }
  = link_to t('nav.logout'), destroy_user_session_path, :method => :delete
  = link_to 'My Profile', profile_path
- else
  =link_to t('nav.login'), new_user_session_path
