.rightcol

  .rightwrapper.flash.hidden
    %h3.alert.notify-only.hidden= notice
    %h3.alert.hidden= alert

  = yield

  -# sort of temporary
  - if user_signed_in? && current_user.admin?
    = render "admin/admin_tools"

  = render partial: "shared/footer"
