- title 'Manage Users'

%h2 Manage Users

= paginate @users

%h3 Users
= link_to "Add new user", new_user_path, { :class => "small button"}
%table
  %thead
    %tr
      %th First Name
      %th Last Name
      %th Email
      %th Last Sign In
      %th{:colspan => "3"} Manage
  %tbody
    - @users.each do |u|
    - u.active_for_authentication ? link = @suspend : link = @reactivate
      %tr{:class => u.active_for_authentication ? '' : 'suspended' }
        %td= link_to u.first_name, user_path(u)
        %td= link_to u.last_name, user_path(u)
        %td= link_to u.email, user_path(u)
        %td= u.last_sign_in_at
        %td= link_to "Edit", edit_user_path(u)
        %td= link_to link, "#", { class: "toggle-user", :"data-id" => "#{u.id}", :"data-reactivate" => "#{@reactivate}", :"data-suspend" => "#{@suspend}", remote: true }
        %td= link_to "Delete", "#", { class: "delete-user", :"data-id" => "#{u.id}", remote: true }
