- title t('page_titles.program_managers', name: @program.name)

%h2= t('headers.program_program_managers', name: @program.name)

= paginate @program_managers

%table{ :"data-reactivate" => "#{@reactivate}", :"data-suspend" => "#{@suspend}", :"data-suspend-confirm" => "#{@managers_suspend_confirm}", :"data-reactivate-confirm" => "#{@managers_reactivate_confirm}", :"data-delete-confirm" => "#{@managers_delete_confirm}" }
  %thead
    %tr
      %th First Name
      %th Last Name
      %th Email
      %th Last Sign In
      %th{:colspan => "3"} Manage
  %tbody
    - @program_managers.each do |pm|
    - pm.user.active_for_authentication ? link = @suspend : link = @reactivate
      %tr{:class => pm.user.active_for_authentication ? '' : 'suspended' }
        %td= link_to pm.user.first_name, dashboard_admin_user_path(pm.user)
        %td= link_to pm.user.last_name, dashboard_admin_user_path(pm.user)
        %td= link_to pm.user.email, dashboard_admin_user_path(pm.user)
        %td= pm.user.last_sign_in_at
        %td= link_to t("links.edit"), edit_dashboard_admin_user_path(pm.user)
        %td= link_to link, "#", { class: "toggle-user", :"data-id" => "#{pm.user.id}", :"data-reactivate" => "#{@reactivate}", :"data-suspend" => "#{@suspend}", :"data-suspend-confirm" => "#{@managers_suspend_confirm}", remote: true }
        %td= link_to t("links.delete"), "#", { class: "delete-row", :"data-path" => "/dashboard/admin/users/#{pm.user.id}", :"data-id" => "#{pm.user.id}", remote: true }
