- title "#{@user.first_name} #{@user.last_name}"

%h2= "#{@user.first_name} #{@user.last_name}"
= image_tag @user.avatar.url(:lg), { width: "120px", height: "120px", srcset: "#{@user.avatar.url(:"lg@2x")} 2x", class: "img-circle" }
