- title t("page_titles.newsfeed")
- attributes({ :"data-user-id" => "#{current_user.id}" })

.rightwrapper

  %h2 Newsfeed

  #create-post
    = simple_form_for([:newsfeed, @post], html: { data: { remote: true, type: :json } }) do |f|
      = f.input :text, as: :text
      = f.input :post_image, as: :file
      = f.input :video_url
      = simple_fields_for :user do |user_fields|
        = f.association :user, as: :hidden
      = f.submit

  #posts-container{ :"data-pages" => @num_pages }

  %a#more-posts= t('links.load_more_posts')

  = render "dashboard/admin/admin_tools"
