- title t("page_titles.newsfeed")
- attributes({ :"data-user-id" => "#{current_user.id}" })

.rightwrapper.new-post

  = simple_form_for([:newsfeed, @post], html: { data: { remote: true, type: :json } }) do |f|
    = f.input :text, as: :text, label: false, placeholder: "Write a new post…"
    -#= f.input :post_image, as: :file
    .secondary-inputs
      .photo-video-upload
        .photo-upload
          .choose-photo-btn-wrapper
            %button.btn.btn-primary.choose-photo Choose Photo
          .choose-photo-input-wrapper
            %input{ disabled: true, placeholder: "Browse to an image…" }
        %input.new-post-video-url{ placeholder: "Enter YouTube or Vimeo URL…" }
    .new-post-buttons
      .photo-video-toggle
        %a.photo-upload-link{ href: "#", :"data-remote" => "true" }
          %span.icon.icon-photo
          %span.link-text
            Upload Photo
        %a.video-upload-link{ href: "#", :"data-remote" => "true" }
          %span.icon.icon-video
          %span.link-text
            Video URL
      .new-post-action
        = simple_fields_for :user do |user_fields|
          = f.association :user, as: :hidden
          %input.btn.new-post-cancel{ type: :reset, value: "Cancel" }
          = f.submit "Post", class: "btn btn-primary new-post-submit"

          -#= f.input :video_url

#posts-container{ :"data-pages" => @num_pages }

%a#more-posts= t('links.load_more_posts')

= render "dashboard/admin/admin_tools"
