- title t("page_titles.newsfeed")
- attributes({ class: "newsfeed", :"data-user-id" => "#{current_user.id}" })

.rightwrapper.new-post

  = simple_form_for([:newsfeed, @post], html: { data: { remote: true, type: :json } }) do |f|
    = f.input :text, as: :text, label: false, placeholder: "Write a new post…", input_html: { autofocus: "true", tabindex: "1"}
    .secondary-inputs
      .photo-video-upload
        = f.input :post_image, as: :file, input_html: { tabindex: "-1" }
        .photo-upload
          .choose-photo-btn-wrapper
            %button.btn.btn-primary.choose-photo Choose Photo
          .choose-photo-input-wrapper
            %input{ type: "text", disabled: true, id: "file-name", placeholder: "Browse to an image…", tabindex: "-1" }
        = f.input :video_url, label: false, input_html: { class: "new-post-video-url", type: "text", placeholder: "Enter YouTube or Vimeo URL…", tabindex: "-1" }
    .new-post-buttons
      .photo-video-toggle
        %a.photo-upload-link{ href: "#", :"data-remote" => "true", id: "upload-link" }
          %span.icon.icon-photo
          %span.link-text
            Upload Photo
        %a.video-upload-link{ href: "#", :"data-remote" => "true", id: "video-url" }
          %span.icon.icon-video
          %span.link-text
            Video URL
      .new-post-action
        = simple_fields_for :user do |user_fields|
          = f.association :user, as: :hidden
          %input.btn.new-post-cancel{ type: :reset, value: "Cancel" }
          = f.submit "Post", class: "btn btn-primary new-post-submit"
  %a.mobile-new-post-toggle{ href: "#", :"data-remote" => "true" }
    %span.icon.icon-box-1
    %span.link-text New Post

#posts-container{ :"data-pages" => @num_pages }

.rightwrapper
  %a.btn.btn-more-content#more-posts{ href: "#", :"data-remote" => "true" }
    %span.more-content-text= t('links.load_more_posts')
    %span.icon.icon-more
    %span.loader
