- title t('links.dashboard.manage_adobe_products.title')

%h2= t('links.dashboard.manage_adobe_products.title')

= paginate @adobe_products

%h3= t('links.dashboard.manage_adobe_products.products')
= link_to t("links.dashboard.manage_adobe_products.add"), new_dashboard_admin_adobe_product_path, { :class => "small button"}
%table
  %thead
    %tr
      %th Name
      %th Mnemonic
      %th{:colspan => "2"} Manage
  %tbody
    - @adobe_products.each do |ap|
      %tr
        %td= link_to ap.name, dashboard_admin_adobe_product_path(ap)
        %td= link_to(image_tag(ap.mnemonic.url(:sm)), dashboard_admin_adobe_product_path(ap))
        %td= link_to t("links.edit"), edit_dashboard_admin_adobe_product_path(ap)
        %td= link_to t("links.delete"), "#", { class: "delete-row", :"data-delete-confirm" => "#{@delete_confirm}", :"data-path" => "/dashboard/admin/adobe_products/#{ap.id}", :"data-id" => "#{ap.id}", remote: true }
