- title t('page_titles.manage_users')

.rightwrapper
  %h2= t('headers.manage_users')

  = link_to "Add new user", new_admin_user_path, { :class => "btn btn-primary"}
  %h3
  %table{ :"data-reactivate" => "#{@reactivate}", :"data-suspend" => "#{@suspend}", :"data-suspend-confirm" => "#{@managers_suspend_confirm}", :"data-reactivate-confirm" => "#{@managers_reactivate_confirm}", :"data-delete-confirm" => "#{@managers_delete_confirm}" }
    %thead
      %tr
        %th{ colspan: "6" }
          = t("headers.program_managers")
      %tr
        %th
          %p Name
        %th.ctr
          %p Email
        -#%th Programs
        %th.tiny-hide
          %p Last Sign In
        %th.ctr{:colspan => "3"}
          %p Manage

    %tbody
      - @program_managers.each do |pm|
      - pm.active_for_authentication ? link = @suspend : link = @reactivate
        %tr{:class => pm.active_for_authentication ? '' : 'suspended' }
          %td
            %p= link_to pm.name, admin_user_path(pm)
          %td
            %p= mail_to pm.email, pm.email
          -#%td
            %ul
            - pm.programs.each do |p|
              %li= p.name

          %td.tiny-hide
            - unless pm.last_sign_in_at.nil?
              %p= l pm.last_sign_in_at, format: :sign_ins
          %td
            %p= link_to t("links.edit"), edit_admin_user_path(pm)
          %td
            %p= link_to link, "#", { class: "toggle-user", :"data-id" => "#{pm.id}", :"data-reactivate" => "#{@reactivate}", :"data-suspend" => "#{@suspend}", :"data-suspend-confirm" => "#{@managers_suspend_confirm}", remote: true }
          %td
            %p= link_to t("links.delete"), "#", { class: "delete-row", :"data-path" => "/admin/users/#{pm.id}", :"data-id" => "#{pm.id}", remote: true }

  %table{ :"data-reactivate" => "#{@reactivate}", :"data-suspend" => "#{@suspend}", :"data-suspend-confirm" => "#{@users_suspend_confirm}", :"data-reactivate-confirm" => "#{@users_reactivate_confirm}", :"data-delete-confirm" => "#{@users_delete_confirm}" }
    %thead
      %tr
        %th{ colspan: "5"}
          = t("headers.students")
      %tr
        %th 
          %p Name
        %th.ctr 
          %p Email
        -#%th 
          %p Programs
        %th.med-hide
          %p Phone
        -#%th 
          -#%p School
        %th.tiny-hide 
          %p Last Sign In
        %th.ctr{:colspan => "3"}
          %p Manage

    %tbody
      - @students.each do |u|
      - u.active_for_authentication ? link = @suspend : link = @reactivate
        %tr{:class => u.active_for_authentication ? '' : 'suspended' }
          %td
            %p= link_to u.name, admin_user_path(u)
          %td
            %p= mail_to u.email, u.email
          -#%td
            %ul
              - u.programs.each do |p|
                %li= p.name
          %td.med-hide
            -#%p= link_to (u.mobile_phone.nil? ? '' : u.mobile_phone), admin_user_path(u)
            - unless u.mobile_phone.nil?
              -#%p= phone_number_link u.mobile_phone
              %p= u.mobile_phone
          -#%td= u.school.name unless u.school.nil?
          %td.tiny-hide
            - unless u.last_sign_in_at.nil?
              %p= l u.last_sign_in_at, format: :sign_ins
          %td
            %p= link_to t("links.edit"), edit_admin_user_path(u)
          %td
            %p= link_to link, "#", { class: "toggle-user", :"data-id" => "#{u.id}", remote: true }
          %td
            %p= link_to t("links.delete"), "#", { class: "delete-row", :"data-path" => "/admin/users/#{u.id}", :"data-id" => "#{u.id}", remote: true }

  = paginate @students
