!!!
%html
  %head
    %title= full_title(yield :title)
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "modernizr"
    = javascript_include_tag "//use.typekit.net/nzh4pgb.js"
    :javascript
      try{Typekit.load();}catch(e){}
    %meta{ name:"viewport", content: "width=device-width, initial-scale=1.0" }
    = favicon_link_tag "/assets/favicon.ico"
    = csrf_meta_tags
  %body{ @attributes ||= {} }
    
    .pagewrapper
    
      = render "shared/header"
    
      / need to be able to toggle on/off the student-profile class on the .content div
      .content
        / .content.student-profile
        
        .profile-banner
        
        .leftcol
          
          = render partial: "shared/left_column"

        .rightcol

          %p.notice= notice
          %p.alert= alert
      
          = yield
            
          -#.rightwrapper
            -#home
          
          
          %footer
            %ul
              %li= link_to "Help", "#"
              %li= link_to "Terms of Use", "#"
              %li= link_to "Privacy Policy and Cookies", "#"
              %li= link_to "Language: English", "#"
            %p.copywright ©2013 Adobe Systems Incorporated. All Rights Reserved
