!!!
%html
  %head
    %title= full_title(yield :title)
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "modernizr"
    = javascript_include_tag "//use.typekit.net/nzh4pgb.js"
    :javascript
      try{Typekit.load();}catch(e){}
    %meta{ name:"viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0" }
    = favicon_link_tag "/assets/favicon.ico"
    = csrf_meta_tags
  %body{ @attributes ||= {} }
    
    .pagewrapper
    
      = render "shared/header"
    
      - if user_signed_in?
        .content{ class: @attributes[:class] =~ /my-profile|user/ ? "student-profile" : nil }
          .leftcol-faux
          
          .profile-banner
          
          .leftcol
            
            = render partial: "shared/left"

          = render partial: "shared/right"

      - else
        
        .unauth-content
          = render partial: "shared/right"
      

      = render partial: "shared/footer"
