!!!
%html
  %head
    %title= full_title(yield :title)
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "modernizr"
    = javascript_include_tag "//use.typekit.net/nzh4pgb.js"
    :javascript
      try{Typekit.load();}catch(e){}
    %meta{ name:"viewport", content: "width=device-width, initial-scale=1.0" }
    = favicon_link_tag "/assets/favicon.ico"
    = csrf_meta_tags
  %body{ @attributes ||= {} }
    
    .pagewrapper
    
      = render "shared/header"
    
      .content{ class: @attributes[:class] =~ /my-profile|user/ ? "student-profile" : nil }
        
        .profile-banner
        
        .leftcol
          
          - if user_signed_in?
            = render partial: "shared/left"

        .rightcol

          %p.notice= notice
          %p.alert= alert
      
          = yield
          
          = render partial: "shared/footer"
