!!!
%html
  %head
    %title= full_title(yield :title)
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "modernizr"
    %meta{ name:"viewport", content: "width=device-width, initial-scale=1.0" }
    = favicon_link_tag "/assets/favicon.ico"
    = csrf_meta_tags
  %body{ @attributes ||= {} }
    
    / = render "shared/header"
    
    .pagewrapper
    
      %header
        .leftheader
          = link_to t('nav.home'), "http://www.adobe.com", { class: "logo" }
          %p.program-title Adobe Campus Ambassador Portal
        
        .rightheader
          %a.dashboard Dashbaord
          %a.newsfeed Newsfeed
          %a.menu Menu
    
      %nav
        %ul
          %li= link_to "Files", "#"
          %li= link_to "Calendar", "#"
          %li= link_to "Members", "#"
          %li= link_to "Reports", "#"
          %li= link_to "Admin", "#"
          %li= link_to "My Profile", "#"
          %li= link_to "Logout", "#"
        
      .content
        .leftcol
          %h1 This is the left column content.
        
        .rightcol
        
          %h1 This is the right column content.
        
          %p.notice= notice
          %p.alert= alert
        
          / We are temporarily dumping nav into the body while we work out structure and styling in the header.
          This is temporary:
          = render "shared/header"
        
          = yield
        
          %footer
            This is the footer content/nav.
