!!!
%html
  %head
    %title= full_title(yield :title)
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "modernizr"
    = javascript_include_tag "//use.typekit.net/nzh4pgb.js"
    :javascript
      try{Typekit.load();}catch(e){}
    %meta{ name:"viewport", content: "width=device-width, initial-scale=1.0" }
    = favicon_link_tag "/assets/favicon.ico"
    = csrf_meta_tags
  %body{ @attributes ||= {} }
    
    / = render "shared/header"
    
    .pagewrapper
    
      %header
        .headerwrapper
          .leftheader
            = link_to t('nav.home'), "http://www.adobe.com", { class: "logo" }
            %p.program-title Adobe Campus Ambassador Portal
        
          .rightheader
            %a.dashboard.active
              %span.icon.icon-dashboard
              %span.label
                \ Dashboard
            %a.newsfeed 
              %span.icon.icon-newsfeed
              %span.label
                \ Newsfeed
            %a.menu
              %span.icon.icon-menu
    
      %nav
        .navwrapper
          %ul
            %li
              %a
                %span.icon.icon-attendees
                \ Members
            %li
              %a.active
                %span.icon.icon-share
                \ Share a Link
            %li
              %a
                %span.icon.icon-profile
                \ My Profile
            %li
              %a
                %span.icon.icon-logout
                \ Logout
        
      .content
        .leftcol
          
          .leftwrapper
            %p This is the left column content.
          
        .rightcol
          .rightwrapper.dark
            %p This is the right column content.
            / We are temporarily dumping nav into the body while we work out structure and styling in the header.
            This is the temporary login and nav stuff:
          
            %p= render "shared/header"
            %p.notice= notice
            %p.alert= alert
      
          = yield
            
          %footer
            %ul
              %li= link_to "Help", "#"
              %li= link_to "Terms of Use", "#"
              %li= link_to "Privacy Policy and Cookies", "#"
              %li= link_to "Language: English", "#"
            %p.copywright ©2013 Adobe Systems Incorporated. All Rights Reserved
