!!!
%html
  %head
    %title= full_title(yield :title)
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "modernizr"
    %meta{ name:"viewport", content: "width=device-width, initial-scale=1.0" }
    = favicon_link_tag "/assets/favicon.ico"
    = csrf_meta_tags
  %body{ @attributes ||= {} }
  
    = render "shared/header"
    
    .content
      .leftcol
        %h1 This is the left column content.
        
      .rightcol
        
        %h1 This is the right column content.
        
        %p.notice= notice
        %p.alert= alert
        
        = yield
        
        %footer
          This is the footer content/nav.
    
    
    
    
    
    
    

    
    
