!!!
%html
  %head
    %title= full_title(yield :title)
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "modernizr"
    = javascript_include_tag "//use.typekit.net/nzh4pgb.js"
    :javascript
      try{Typekit.load();}catch(e){}
    %meta{ name:"viewport", content: "width=device-width, initial-scale=1.0" }
    = favicon_link_tag "/assets/favicon.ico"
    = csrf_meta_tags
  %body{ @attributes ||= {} }
    
    / = render "shared/header"
    
    .pagewrapper
    
      %header
        .headerwrapper
          .leftheader
            = link_to t('nav.home'), "http://www.adobe.com", { class: "logo" }
            %p.program-title Adobe Campus Ambassador Portal
        
          .rightheader
            %a.dashboard.active
              %span.icon.icon-dashboard
              %span.label
                \ Dashboard
            %a.newsfeed 
              %span.icon.icon-newsfeed
              %span.label
                \ Newsfeed
            %a.menu
              %span.icon.icon-menu
    
      %nav
        .width-limiter
          .navwrapper
            %ul
              %li
                %a
                  %span.icon.icon-attendees
                  \ Members
              %li
                %a.active
                  %span.icon.icon-share
                  \ Share a Link
              %li
                %a
                  %span.icon.icon-profile
                  \ My Profile
              %li
                %a
                  %span.icon.icon-logout
                  \ Logout
        
      .content
        .leftcol
          
          .leftwrapper
            
            / Placing this in the main application template for now
            / until I know a better spot.
            .student-info
              
              .student-info-primary
                .student-image.img-circle
                  %img{:alt => "Michael Hfuhruhurr", :src => "http://adoberep-dev.s3.amazonaws.com/avatars/5/lg/IMG_0183.JPG?1372695492", :srcset => "http://adoberep-dev.s3.amazonaws.com/avatars/5/lg/IMG_0183.JPG?1372695492 2x"}/
                %p
                  %span.student-name
                    %a{:href => "/users/5"} Michael Hfuhruhurr
                  %span.student-school-name 
                    / %span.icon.icon-marker / need this icon
                    %span.icon.icon-pin
                    %span.university-name
                      University of Idaho
                  %a.edit-profile{:href => "/"} Edit Profile
                  
              .student-info-secondary
                %p.student-bio
                  Plus sized hand model. Actually, that's a lie. I do know how to hypnotize a chicken though. Honest.
                %p.student-portfolio-link
                  %a{:href => "/"} www.whoisowenjones.com
                %p.bio-links
                  %a{:href => "/"} 
                    %span.icon.icon-fb
                  %a{:href => "/"} 
                    %span.icon.icon-twitter
                  %a{:href => "/"} 
                    %span.icon.icon-instagram
                  %a{:href => "/"} 
                    %span.icon.icon-behance
                  %a{:href => "/"} 
                    %span.icon.icon-mail
                %h2.student-points
                  %span.total 2346
                  %span.pts pts
          
        .rightcol
      
          = yield
            
          .rightwrapper
            %p This is the right column content.
            / We are temporarily dumping nav into the body while we work out structure and styling in the header.
            This is the temporary login and nav stuff:
          
            %p= render "shared/header"
            %p.notice= notice
            %p.alert= alert
          
          %footer
            %ul
              %li= link_to "Help", "#"
              %li= link_to "Terms of Use", "#"
              %li= link_to "Privacy Policy and Cookies", "#"
              %li= link_to "Language: English", "#"
            %p.copywright ©2013 Adobe Systems Incorporated. All Rights Reserved
